* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  padding: 20px;
}

h1 {
  padding: 20px;
  background: green;
}

.box {
  padding: 20px;
  border: 1px solid #ccc;
}