#root {
  width: 100%;
  height: 100%;
}

.box {
  width: 1000px;
  height: auto;
  margin: 30px auto 0;
  border: 1px solid hotpink;
  position: relative;
}

.title {
  background: white;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: lightpink;
  margin-top: 10px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 16px;
}
